[user]
	name = Thierry de Pauw
	email = thierry@thinkinglabs.io
[credential]
	helper = cache
[push]
	default = simple
	autoSetupRemote = true
[core]
	autocrlf = input
	excludesfile = /Users/thipau/.gitignore
[diff]
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[merge]
	tool = kdiff3
[format]
	pretty = format:%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cD) %C(bold blue)<%an>%Creset
[fetch]
	prune = true
[pager]
	branch = false
	diff = false
	log = false
