[user]
	name = Thierry de Pauw
	email = thierry@thinkinglabs.io
[credential]
	helper = cache
[alias]

  amend = commit --amend
  d = diff --word-diff

  # Never run `git push --force`.
  # Be polite and say `git please` instead.
  please = push --force-with-lease

  # Use the commit message from the undoed commit (`git undo`)
  redo = commit -c ORIG_HEAD

  # Undo previous commit
  undo = reset HEAD~
[push]
	default = simple
[core]
	autocrlf = input
	excludesfile = /Users/thipau/.gitignore
[diff]
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[merge]
[format]
	pretty = format:%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cD) %C(bold blue)<%an>%Creset
[fetch]
	prune = true
	pruneTags = true
	all = true
[pager]
	branch = false
	diff = false
	log = false
[help]
	autocorrect = prompt
[pull]
    rebase = true

