[user]
	name = Thierry de Pauw
	email = thierry@thinkinglabs.io
[credential]
	helper = cache
[push]
	default = simple
[core]
	autocrlf = input
	excludesfile = /Users/thipau/.gitignore
[diff]
	tool = kdiff3
[merge]
	tool = kdiff3
[format]
	pretty = format:%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
